/********************/
/********APP*********/
h1 {
    color: #fa7445;
    font-size: 3em;
}

#App {
    background-color: #f6f3ee;
    text-align: center;

}

/********************/
/********MENU********/
nav {
    display: flex;
}

/********************/
/********BLOG********/
#blog-min-chars {
    color: red;
}

#div-input-article {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    justify-content: center;
}

#blog-textarea {
    width: 100%;
}

/********************/
/******ARTICLE******/
#div-article {
    border-radius: 20px;
    padding: 0.5em;
    margin: 1em;
    text-align: left;
    background-color: white;
    box-shadow: 5px 2px lightgrey;
}

#h3-article {
    color: #fb8f6a;
}

#article-entete {
    display: flex;
    padding: 0.2em;
    justify-content: space-between;
}

#article-body {
    padding: 1em;
}

#article-boutons {
    display: flex;
    justify-content: right;
}

button {
    margin: 0.5em;
}

input {
    margin: 0.5em;
}

/********************/
/******RECETTES******/
#dish-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5em;
    margin-top: 2%;
}

#search-bar {
    border-radius: 5px;
    width: 15%;
}

/********************/
/********CARD********/
#div-card {
    width: 22%;
    border: 3px solid #fa7445;
    border-radius: 20px;
    padding: 0.5em;
    margin: 1em;

}

#div-card img {
    width: 100%;
}

#div-description {
    height: 20em;
    text-align: justify;
    overflow-y: scroll;
}


#h2-dish-name {
    color: #fb8f6a;
}

hr {
    color: lightgray;
}

/********************/
/******NOPAGE********/